
<style>
    ul li{
        margin-bottom : 10px;
    }
</style>

<h1 class="featurette-heading text-center m-3">Шаблоны документов</h1>
<hr class="featurette-divider">

<div class="pl-xl-5 featurette-heading">
    <p class="text-center">
        <strong>Универсальное заявление</strong>
    </p>
    <p style="margin-left:40px;">
        <span class="font-weight-bold"><a href="~/docx/universal.pdf">Универсальное заявление</a> заменяет собой все старые заявления!</span>
    </p>
    <p style="margin-left:40px;">
        К старому виду заявлений относится: 
    </p>
    <ul style="list-style-type:none; margin-left:40px;">
        <li>Заявление на восстановление</li>
        <li>Заявление на ликвидацию задолженности</li>
        <li>Заявление на обучение по сертификату</li>
        <li>Заявление на изучение дисциплин параллельно (с использованием ДОТ)</li>
    </ul>
    <hr />

    <p class="text-center">
        <strong>Шаблоны заявлений по организации учебного процесса</strong>
    </p>
    <ul>
        <li>
            <a href="~/docx/12_100229_1_91676.docx">Заявление о разрешении работать в свободное от учебы время</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91684.docx">Заявление о повторном выполнении лабораторной работы</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91681.docx">Заявление о разрешении отсутствовать на занятиях</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91687.docx">Заявление о допуске к сдаче зачета</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91679.docx">Заявление о повторной сдаче зачета</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91688.docx">Заявление о повторной сдаче дифференцированного зачета</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91689.docx">Заявление о допуске к сдаче экзамена</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91690.docx">Заявление о повторной сдаче экзамена</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91686.docx">Заявление о перезачтении оценки по предмету</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_92288.docx">Заявление о допуске к сессии</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_92283.docx">Заявление на продление сессии</a>
        </li>
    </ul>
    <hr />


    <p class="text-center">
        <strong>Шаблоны заявлений по движению студентов</strong>
    </p>
    <ul>
        <li>
            <a href="~/docx/12_100229_1_127639.docx">Заявление о переводе на другой факультет</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_127638.docx">Заявление о восстановлении</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_127641.docx">Заявление об отчислении</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_127636.docx">Заявление на академический отпуск</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_127640.docx">Заявление на выход из академического отпуска</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_127637.docx">Заявление на изменение фамилии</a>
        </li>
    </ul>
    <hr />

    <p class="text-center">
        <strong>Шаблоны заявлений о выдаче документов и справок</strong>
    </p>
    <ul>
        <li>
            <a href="~/docx/12_100229_1_91678.docx">Заявление о выдаче дубликата зачетной книжки/студенческого билета</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91677.docx">Заявление о выдаче академической справки</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_91683.docx">Характеристика</a>
        </li>
        <li>
            <a href="~/docx/12_100229_1_92282.docx">Объяснительная студента</a>
        </li>
    </ul>
    
</div>
    

