

<h1 class="featurette-heading text-center m-3">О факультете</h1>
<hr class="featurette-divider">

<div class="faculties-page__head">
    <h2 class="pl-5">Факультет непрерывного дистанцинного образования</h2>
    <br /><br />
    <ul>
        <li>Преподаватели факультета &mdash; известные ученые-математики, программисты, аналитики, экономисты, тестировщики, а также специалисты в области защиты информации.</li>
        <li> ФИНО БГУИР &mdash; шанс написать свой код успеха.</li>
    </ul>
</div>
<br />
<div class="container-fluid">
    <div class="text-center" style="height:380px;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Fatf-AhaR5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="faculties-page__profit text-center" style="margin-top:30px;">
        <div class="profit">
            <div class="profit__items">
                <div class="profit__item">
                    <p class="profit__title">10</p>
                    <p class="profit__descr">специальностей</p>
                </div>
                <div class="profit__item">
                    <p class="profit__title">9</p>
                    <p class="profit__descr">кафедр</p>
                </div>
                <div class="profit__item">
                    <p class="profit__title">82</p>
                    <p class="profit__descr">доцента</p>
                </div>
                <div class="profit__item">
                    <p class="profit__title">18</p>
                    <p class="profit__descr">профессоров</p>
                </div>
                <div class="profit__item">
                    <p class="profit__title">4</p>
                    <p class="profit__descr">лаборатории</p>
                </div>
                <div class="profit__item">
                    <p class="profit__title">530</p>
                    <p class="profit__descr">студентов</p>
                </div>
            </div>
        </div>
    </div>


    <div class="data content__item">
        <p class="pl-5" style="font-size: 30px; padding-bottom: 6px; line-height: 50px;">Преимущества обучения на факультете</p> <div class="content__text">
            <ul id="prem">
                <li>возможность выбора индивидуального комплекта изучаемых дисциплин, графика и срока их изучения в зависимости от желаемого темпа обучения</li>
                <li>возможность сдачи экзаменов и зачетов как во время зимней и летней сессий, так и в межсессионный период в удобное для студента и преподавателя время</li>
                <li>
                    возможность сдачи экзаменов и зачетов с использованием дистанционных образовательных технологий при условии идентификации и (или) аутентификации личности обучающегося и наличия визуализации
                </li>
                <li>более 400 электронных учебно-методических комплексов дисциплин для дистанционного обучения</li>
                <li>использование современной системы электронного дистанционного обучения</li>
                <li>возможность получения индивидуальных консультаций у преподавателей, как в стенах университета, так и на расстоянии с использованием современных информационно-коммуникационных технологий</li>
                <li>возможность просмотра видеолекций по дисциплинам и получения видеоконсультаций по изучаемому материалу</li>
                <li>оплата только за еще не изученные дисциплины, что позволяет оптимизировать свои расходы на образовательные услуги при получении второго высшего образования</li>
                <li>более низкая стоимость, чем на дневной форме получения образования</li>
            </ul>
            @*<img src="/upload/MF.jpg">*@
        </div> 
    </div>
</div>


