<h1 class="featurette-heading text-center m-3">Полезная информация</h1>
<br />
@*<br />*@

<div class="container info p-5">
    <div class="text-center" >
        <h3 class="featurette-heading text-center m-3">Как нас найти?</h3>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9402.449697215836!2d27.5981189!3d53.9030924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfb34645b593%3A0xf2624ed8c00a9967!2z0JHQk9Cj0JjQoCDQmtC-0YDQv9GD0YEgOA!5e0!3m2!1sru!2sby!4v1620765535293!5m2!1sru!2sby" width="400" height="355" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="boxing">
        <h3 class="featurette-heading text-center m-3">Когда приходить?</h3>
        <div class="span6 alert-info box-shadow" style="background-color: #f2f7ff;  padding: 1rem; padding-bottom: 4.5rem; padding-top: 4.5rem; margin-bottom: 2rem;">
            <h4 style="margin-bottom: 1.5rem; text-align:center; text-transform: uppercase;">Приемное время центра<br></h4>
            <p style="text-align: center; font-size: 1.2em;">Понедельник: &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <b>приёма нет</b></p><p style="text-align: center; font-size: 1.2em;">Вторник, Четверг: 14:00 – 17:00<br>Среда, Пятница: &nbsp; &nbsp; 09:00 – 13:00<br></p><div>
                <p style="margin: 3px; text-align: center; padding: 5px 12px; font-size: 14pt; color: #fb8737;"><u><a href="~/Home/Staff" style="color: #fb8737;">Контактные данные</a></u></p>
            </div>
        </div>
    </div>
</div>