<h1 class="featurette-heading text-center m-3">Стоимость пересдач</h1>
<br />
<br />

<div">
    <table class="m-auto">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Вид услуги</th>
                <th style="border: 1px solid black;">Стоимость в BYN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;">Повторный приём экзамена</td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">профессор, д. н.<br></span><span style="font-size: 12pt;">3.45</span></p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>3.15</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>2.88</span></p></td>
            </tr>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;">Повторный приём зачёта</td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">профессор, д. н.<br></span><span style="font-size: 12pt;">2.42</span></p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>2.21</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>2.01</span></p></td>
            </tr>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;">Повторный приём лабораторных работ</td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;">профессор, д. н.</p><p style="text-align: center;">5.18</p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>4.73</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>4.31</span></p></td>
            </tr>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">Защита курсового проекта</span></p><p style="text-align: center;"><span style="font-size: 12pt;">при расхождении учебных планов</span></p></td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">профессор, д. н.<br>20.70</span></p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>18.90</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>17.25</span></p></td>
            </tr>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">Защита курсовой работы</span></p><p style="text-align: center;"><span style="font-size: 12pt;">при расхождении учебных планов</span></p></td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">профессор, д. н.<br>13.80</span></p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>12.60</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>11.50</span></p></td>
            </tr>
            <tr>
                <td style="text-align: center; border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">Повторная защита</span></p><p style="text-align: center;"><span style="font-size: 12pt;">курсовой работы, курсового проекта&nbsp;</span></p></td>
                <td style="border: 1px solid black; padding: 3px;"><p style="text-align: center;"><span style="font-size: 12pt;">(каждому члену комиссии)</span></p><p style="text-align: center;"><span style="font-size: 12pt;">профессор, д. н.<br>2.42</span></p><p style="text-align: center;"><span style="font-size: 12pt;">доцент, к. н.<br>2.21</span></p><p style="text-align: center;"><span style="font-size: 12pt;">без степени<br>2.01</span></p></td>
            </tr>
        </tbody>
    </table>
</div>