<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Services</title>
</head>
<body>
    <h1 class="featurette-heading text-center m-3">Чем мы вам поможем?</h1>
    <hr class="featurette-divider">
    <div class="services-block">
        <div class="services">
            @*@for (int i = 0; i < 4; i++)
        {*@
            <div class="service">
                <div class="service-image-container">
                    <img class="service-image stretching-image" src="~/images/service1.jpg" alt="image" />
                </div>
                <div class="service-body">
                    <div class="service-info">
                        <h2 class="service-title-text">Сопровождение дистанционного обучения</h2>
                        <p class="service-description-text">
                            Поддержка и сопровождение дистанцион­ного обучения для высшего, среднего специального и дополнительного образования.
                        </p>
                    </div>
                    <ul class="ul-service">
                        <li class="li-service">
                            Размещение курсов в системе
                        </li>
                        <li class="li-service">
                            Регистрация студентов в системе электронного обучения
                        </li>
                        <li class="li-service">
                            Консультирование преподавателей по вопросам размещения материалов
                        </li>
                        <li class="li-service">
                            Помощь преподавателям в создании интерактивного контента
                        </li>
                        <li class="li-service">
                            Техническая поддержка пользователей
                        </li>
                    </ul>
                </div>
            </div>
            @*}*@
            <div class="service">
                <div class="service-image-container">
                    <img class="service-image stretching-image" src="~/images/service2.jpg" alt="image" />
                </div>
                <div class="service-body">
                    <div class="service-info">
                        <h2 class="service-title-text">Разработка образовательных курсов</h2>
                        <p class="service-description-text">
                            С помощью Ваших знаний и наших возможностей мы создаём качественный обучающий контент.
                        </p>
                    </div>
                    <ul class="ul-service">
                        <li class="li-service">
                            Методическая помощь автору в создании структуры курса и сопоставлении ее элементов с получаемыми компетенциями
                        </li>
                        <li class="li-service">
                            Консультирование автора при создании сценариев видеолекций, текстовых материалов и элементов контроля знаний
                        </li>
                        <li class="li-service">
                            Постановка и съемка видеолекций
                        </li>
                        <li class="li-service">
                            Разработка дизайн-макета будущего видеоролика
                        </li>
                        <li class="li-service">
                            Постобработка и монтаж видеолекций, создание анимации
                        </li>
                        <li class="li-service">
                            Размещение курса в системе электронного обучения
                        </li>
                        <li class="li-service">
                            Анализ обучения слушателей на онлайн-курсе
                        </li>
                    </ul>
                </div>
            </div>
            <div class="service">
                <div class="service-image-container">
                    <img class="service-image stretching-image" src="~/images/services3.jpg" alt="image" />
                </div>
                <div class="service-body">
                    <div class="service-info">
                        <h2 class="service-title-text">Обеспечение съемочного процесса</h2>
                        <p class="service-description-text">
                           Перейти в галерею
                        </p>
                    </div>
                    <ul class="ul-service">
                        <li class="li-service">
                            Собственная видеостудия
                        </li>
                        <li class="li-service">
                            Профессиональная камера
                        </li>
                        <li class="li-service">
                            Телесуфлёр
                        </li>
                        <li class="li-service">
                            Осветительное оборудование
                        </li>
                        <li class="li-service">
                            Стеклянная доска с подсветкой
                        </li>
                        <li class="li-service">
                            Визаж преподавателя
                        </li>
                        <li class="li-service">
                            Методист
                        </li>
                        <li class="li-service">
                            Оператор
                        </li>
                    </ul>
                </div>
            </div>
            <div class="service">
                <div class="service-image-container">
                    <img class="service-image stretching-image" src="~/images/service4.jpg" alt="image" />
                </div>
                <div class="service-body">
                    <div class="service-info">
                        <h2 class="service-title-text">Организация учебных мероприятий</h2>
                        <p class="service-description-text">
                            Помогаем в проведении видеоконференций, вебинаров и мастер-классов с использованием профессионального оборудования.
                        </p>
                    </div>
                    <ul class="ul-service">
                        <li class="li-service">
                            Создание информационного сайта мероприятия
                        </li>
                        <li class="li-service">
                            Регистрация участников в системе электронного обучения
                        </li>
                        <li class="li-service">
                            Размещение материалов в системе электронного обучения
                        </li>
                        <li class="li-service">
                            Организация видеоконференцсвязи с возможностью демонстрации презентационных материалов
                        </li>
                        <li class="li-service">
                            Организация проведения мероприятия в профессиональной видеостудии
                        </li>

                        <li class="li-service">
                            Запись видеоконференции и размещение её на локальном хостинге
                        </li>

                        <li class="li-service">
                            Предоставление статистики о проведённом мероприятии
                        </li>

                        <li class="li-service">
                            Техническая помощь заказчику на протяжении всего процесса организации мероприятия
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>