@model Diploma.Models.Subject

<style>
    @@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

    .menu-main {
        list-style: none;
        margin: 40px 0 5px;
        padding: 25px 0 5px;
        text-align: center;
        background: white;
    }

        .menu-main li {
            display: inline-block;
        }

            .menu-main li:after {
                content: "|";
                color: #606060;
                display: inline-block;
                vertical-align: top;
            }

            .menu-main li:last-child:after {
                content: none;
            }

        .menu-main a {
            text-decoration: none;
            font-family: 'Ubuntu Condensed', sans-serif;
            letter-spacing: 2px;
            position: relative;
            padding-bottom: 20px;
            margin: 0 34px 0 30px;
            font-size: 17px;
            text-transform: uppercase;
            display: inline-block;
            transition: color .2s;
        }

            .menu-main a, .menu-main a:visited {
                color: #9d999d;
            }

                .menu-main a.current, .menu-main a:hover {
                    color: #86c4fe;
                }

                .menu-main a:before,
                .menu-main a:after {
                    content: "";
                    position: absolute;
                    height: 4px;
                    top: auto;
                    right: 50%;
                    bottom: -5px;
                    left: 50%;
                    background: #1b63c2;
                    transition: .8s;
                }

                .menu-main a:hover:before, .menu-main .current:before {
                    left: 0;
                }

                .menu-main a:hover:after, .menu-main .current:after {
                    right: 0;
                }

    @@media (max-width: 550px) {
        .menu-main {
            padding-top: 0;
        }

            .menu-main li {
                display: block;
            }

                .menu-main li:after {
                    content: none;
                }

            .menu-main a {
                padding: 25px 0 20px;
                margin: 0 30px;
            }
    }
</style>

<h1 class="featurette-heading text-center m-3">Специальности</h1>
<br />


<ul class="menu-main">
    <li><a id="asoi">АСОИ</a></li>
    <li><a id="iitp">ИИТП</a></li>
    <li id="ipoit">ИПОИТ</li>
    <li id="isitBM">ИСиТ(БМ)</li>
    <li id="isitOPB">ИСиТ(ОПБ)</li>
    <li id="isitE">ИСиТ(Э)</li>
    <li id="pms">ПМС</li>
    <li id="poit">ПОИТ</li>
    <li id="em">ЭМ</li>
    <li id="eeb">ЭЭБ</li>
</ul>

<div class="content">

</div>

<script type="text/javascript">
    spec = {
        asoi: `<div class="tab-pane" id="tab1">
				 <h1 style="text-align: center; color: #FF5F28;" id="yui_3_17_2_1_1620837902679_32">Специальность "Автоматизированные системы обработки информации"</h1>
				  <p style="text-align: left; color: #FF5F28;"><b>В чем специфика и актуальность?</b></p>
				  <p style="text-align: left;" id="yui_3_17_2_1_1620837902679_33">Специальность АСОИ находится на стыке таких научных направлений, как 
информатика и управление. Объект изучения -информация во всех ее формах.
 Предметом изучения является автоматизация обработки информации, 
управления и процессов принятия решений на основе современных 
компьютерных технологий в широком спектре человеко-машинных систем: от 
отдельных автоматизированных рабочих мест до систем управления 
технологическими, организационно-технологическими и организационными 
процессами на уровне предприятий, организаций и отраслей. 
<br>
<br>Тенденция к всеобщей информатизации общества объясняет постоянный 
рост потребности в подобных специалистах, способных разрабатывать 
компоненты интегрируемых и эволюционно развиваемых АСОИ<b>.</b></p><p style="text-align: left; color: #FF5F28;"><b>Чему можно научиться?</b></p><p style="text-align: left;">Изучаются:</p><p style="text-align: left;">1. Основы общенаучной, общепрофессиональной и системотехнической подготовки. 
<br>Дисциплины: высшая математика, теория вероятностей и математическая 
статистика, вычислительная математика, физика, начертательная геометрия и
 инженерная графика, теория электрических цепей, электронные приборы, 
основы алгоритмизации и программирования, основы информационных 
технологий, математические модели информационных процессов и управления.
 
<br>2. Методы и средства создания прикладного и системного программного обеспечения систем обработки информации.
<br>Курсы: архитектура ЭВМ, компьютерные информационные технологии, базы
 и банки данных, системный анализ и исследование операций, 
объектно-ориентированное программирование и проектирование, системное 
программное обеспечение, аппаратное и программное обеспечение ЭВМ и 
сетей, имитационное моделирование систем, проектирование 
автоматизированных систем, статистические методы обработки данных, 
анализ многомерных данных. 
<br>3. Теория и практика использования современных операционных систем (Windows NT/2000/XP/Vista, UNIX, LINUX, QNX).
<br>4. Языки программирования различных уровней (Assembler Win32, MS 
Visual C++, MS Visual Basic, Borland Delphi, Borland С++ Builder), 
системы управления базами данных (MS Access, MS Visual FoxPRO, MS SQL, 
Oracle).
<br>5. Средства компьютерного моделирования и проектирования (GPSS World, AutoCAD, MathCAD, MATLAB).
<br>6. Методы и средства разработки корпоративных систем (SAP R3, Lotus Notes).<br></p>
<p style="text-align: left;">Дополнительно изучаются:</p>
<ul>
<li><p style="line-height: none;">на специализации "Автоматизированные системы обработки и 
отображения информации" - современные системы программирования, 
интегрированные информационные системы предприятий, программные средства
 для создания экспертных систем и средства компьютерной графики</p></li>
<li><p style="line-height: none;">на специализации "Системный анализ, принятие решений и 
управление" - перспективные компьютерные технологии вычислительного 
эксперимента и методы оптимизации в технических системах; модели, методы
 и программы оптимального управления в динамических системах; 
компьютерные технологии анализа и принятия управленческих решений</p></li>
<li><p style="line-height: none;">на специализации "Интернет-технологии" - основы 
интернет-технологий, технологии интернет-бизнеса, технологии 
интернет-программирования</p></li>
</ul>
<p style="text-align: left; color: #FF5F28;"><b>Что дальше?</b><br></p>Выпускники специальности АСОИ могут стать востребованными специалистами в
 области системного проектирования, создания, интегрирования, 
эксплуатации и администрирования программно-аппаратного обеспечения 
информационных технологий и автоматизированного управления в любых 
сферах, включая бизнес, экономику и управленческую деятельность (во всех
 отраслях народного хозяйства).
<br>
<br>Базовые предприятия для прохождения практики: НИИРУП "НИИСА", РУП 
"НИИЭВМ", ГУП "Центральный научно- исследовательский институт техники 
управления", УП "КБТЭМ-СО" (все - г. Минск), ПО "Беларуськалий" (г. 
Солигорск), ПО "БелАЗ" (г. Жодино) и др. Большое количество наших 
выпускников трудоустраиваются в компании-резиденты Парка высоких 
технологий: EPAM Systems, Sam Solutions и др.<br><p></p>
				</div>`,
        iitp: `<div class="tab-pane" id="tab2">
				  <p></p><h1 style="text-align: center; color: #FF5F28;">Специальность "Информатика и технологии программирования"</h1>
				  <p style="text-align: left; color: #FF5F28;"><b>В чем специфика и актуальность? </b></p>
				  <p style="text-align: left;">Стремительно развивающаяся IT-индустрия нуждается в специалистах, 
				  владеющих новейшими технологиями разработки программного обеспечения (ПО). 
				  Требуются не просто кодировщики, а профессиональные разработчики ПО, 
				  способные проектировать крупные информационные системы и руководить программными проектами<b>.</b></p>
				  <p style="text-align: left; color: #FF5F28;"><b>Чему можно научиться?</b></p>
				  <p style="text-align: left;">Студенты данной специальности не изучают ряд общетехнических дисциплин, 
				  таких как химия, техническая механика, электротехника, метрология и т.д. 
				  Вместо них на специальности введены годовые курсы по технологиям .NET и Java, в 
				  большем объеме изучается системное ПО, читаются дополнительные курсы по проектированию сложных программных систем.
Еще одним отличием ИиТП от других специальностей БГУИР является углубленная подготовка в области математических 
дисциплин, позволяющая студентам освоить базирующиеся на них курсы криптографии, прикладной алгебры и элементов 
теории информации, имитационного моделирования и исследования операций.
Благодаря глубоким знаниям операционных систем (Windows/Unix/Linux) выпускники специальности готовы к решению 
разнообразных задач (например): <b></b></p>
<ul>
<li>создание ПО с использованием языков различного уровня (Assembler, Delphi, C/C++/C#, Java.)</li>
<li>проектирование ПО на основе современных технологий и средств (UML, Rational Rose, Erwin и др.)</li>
<li>разработка интернет-приложений на основе .NET и Java/J2EE</li>
<li>разработка приложений для мобильных устройств (Android, iOS, Windows Phone 7) </li>
</ul>
<p style="text-align: left; color: #FF5F28;"><b>Что дальше?</b></p>
<p style="text-align: left;">Благодаря хорошей профессиональной подготовке наши выпускники пользуются повышенным 
спросом на предприятиях РБ и имеют возможность трудоустройства по распределению в крупнейших организациях по разработке ПО, 
банках и финансовых учреждениях.
Места распределения выпускников: IT-компании (EPAM Systems, Itransition, IBA, Sam Solutions, TopSoft, EffectiveSoft, ЗАО 
&lt;Научсофт&gt;, Altoros Development и др.), госпредприятия (Агат-Системы управления, БелЖД, Управление делами Президента РБ, Беларусбанк), БГУИР <b>.</b></p>
				</div>`,
        ipoit: `<div class="tab-pane" id="tab3">
				  <p></p><h1 style="text-align: center; color: #FF5F28;">Специальность "Инженерно-психологическое обеспечение информационных технологий" </h1><p></p>
				  <p style="text-align: left; color: #FF5F28;"><b>В чем специфика и актуальность?</b></p>
				  <p style="text-align: left;">Эффективность использования быстро развивающихся информационных технологий и аппаратных 
				  средств их реализации существенно зависит от учета "человеческого фактора" при их проектировании и эксплуатации. 
				  Зачастую созданные технологии и используемые в них технические и программные средства неудобны для пользователя, 
				  ими трудно управлять, их сложно обслуживать, подготовка персонала для работы с ними требует значительного времени 
				  и материальных затрат. Наиболее серьезной проблемой при этом является информационное воздействие пользователя и 
				  технических средств, поскольку организация информации и используемые средства ее ввода-вывода не учитывают психологических 
				  закономерностей процессов приема, переработки, хранения и реализации информации человеком. Результатом этого являются сбои 
				  и ошибки в работе пользователя, возникновение у него негативных психических состояний, что существенно снижает показатели 
				  надежности его работы и соответственно всей системы "человек-техника" в целом.<br><br>

В настоящее время в состав рабочих групп, осуществляющих разработку и эксплуатацию систем и средств 
современных информационных технологий обязательно входят специалисты в области "человеческого фактора", 
имеющие глубокие знания как в области информатики, так и в области психологии <b>.</b></p>
<p style="text-align: left; color: #FF5F28;"><b>Чему можно научиться?</b></p>
<p style="text-align: left;">Студенты специальности ИПОИТ проходят подготовку по комплексу спецдисциплин (например): <b></b></p>
<ul>
<li>Основы алгоритмизации и программирования</li>
<li>Начертательная геометрия и инженерная графика</li>
<li>Анатомия и физиология центральной нервной системы</li>
<li>Физиология высшей нервной деятельности и сенсорных систем</li>
<li> Операционные системы и управление базами данных</li>
<li>Метрология, стандартизация и сертификация в информатике и радиоэлектронике</li>
<li>Функциональная электроника и микросистемная техника </li>
<li>Основы дискретной математики </li>
<li>Психология восприятия и переработки информации </li>
<li>Эргономическое обеспечение информационных систем, технологий </li>
<li>Технология проектирования интеллектуальных систем </li>
</ul>
<p style="text-align: left;">Изучаются современные языки и технологии программирования: C/C++; PHP; CSS; HTML/XHML; Java; Javascript; HTTP, FTP<b>.</b></p>
<p style="text-align: left; color: #FF5F28;"><b>Что дальше?</b></p>
<p style="text-align: left;">Выпускник специальности ИПОИТ может работать инженером-системотехником, инженером-программистом, 
инженером по информационным технологиям, а также на других родственных специальностях, связанных с развитием информационных технологий.<br><br>

Инженеры-системотехники востребованы предприятиями, научно-исследовательскими институтами, банковскими структурами, 
учреждениями культуры, спорта, туризма, торговли, транспорта, рекламы, средствами массовой информации.<br><br>

Места распределения выпускников: компании-резиденты Парка высоких технологий ("Самсолюшенз", "Итранзишен",
 "БелХард", "ЭПАМ Системз", "Системные технологии", "Гейм Стрим", "ИТ парк"), Расчетный центр Национального банка Беларуси, 
 Белвнешэкономбанк, Белпромстройбанк, Беларусбанк, Белтелеком, Министерство природных ресурсов и охраны окружающей среды Республики Беларусь, 
 Министерство торговли, Минскэнерго, Минский автомобильный завод, Минский часовой завод, "КБ Радар", Объединенный институт проблем информатики, 
 Институт прикладной физики НАН Беларуси, БГУИР  <b>.</b></p>
				</div>`,
        isitBM: `<div class="tab-pane" id="tab4">
				  <p></p><h1 style="text-align: center; color: #FF5F28;">Специальность "Информационные системы и технологии (в бизнес-менеджменте)"</h1><p></p>
				   <p style="text-align: left; color: #FF5F28;"><b>В чем специфика и актуальность?</b></p>
				   <p style="text-align: left;" id="yui_3_17_2_1_1620837902679_36">Бурное развитие IT-технологий, коммуникационных систем, программного обеспечения, 
				   обусловило углубление и расширение процессов информатизации общества, создание и внедрение на предприятии современных информационных технологий.<br><br>

Качество и эффективность управления компанией во многом зависит от уровня информационного обеспечения 
бизнес-менеджмента всех уровней. Существование и развитие любого субъекта бизнеса происходят в условиях 
обостряющейся конкуренции. От бизнесменов требуется умение принимать максимально взвешенные решения и определять 
оптимальные управленческие и финансовые стратегии. Менеджмент на любом уровне является сложной комплексной системой.<br><br>

Существенными признаками новой специальности, отличающей её от смежных специальностей, являются<b>:</b></p>
<ul>
<li>разработка алгоритмов бизнес-анализа и управления деятельностью на основе современных 
системных подходов, включающих моделирование, методы оптимизации и исследование операций, методы устойчивого развития, 
технику прогнозов и рисков, теорию управления и принятия решений, теорию игр и конфликтов, экспертную оценку и др.</li>
<li>объединение (c использованием компьютерных технологий) данных из всех информационных источников субъекта бизнеса (компании) 
и обеспечение возможности моментального анализа их с помощью единого инструмента - системного подхода, т. е. создание баз 
данных и инструмента доступа к ним, пополнения, изменения информации и использования этих баз данных для принятия оптимальных управленческих решений</li>
<li>разработка для субъекта бизнеса (компании) универсальной компьютерной системы анализа и управления деятельностью бизнеса, 
включающей базы данных, инструмент управления ими, а также математический инструментарий принятия оптимальных решений, 
в том числе в условиях неопределённости и ограниченности информации</li>
</ul>
<p style="text-align: left;">Качественное информационное обеспечение любого процесса управления бизнесом возможно только при использовании в полной мере IT-технологий.<br><br>

Республика Беларусь остро нуждается в разработке информационных систем в бизнес-менеджменте. Эти системы во многом универсальны и могут применяться в различных 
сферах хозяйственной и общественной жизни для решения широкого круга задач. Их применение позволит снизить себестоимость продукции и повысить прибыль субъектов бизнеса.
 Актуальность разработки и внедрения систем бизнес-менеджмента возрастает в связи с вступлением Республика Беларусь в Таможенный союз, интеграцией экономики Республика 
 Беларусь в мировую экономику, требованием повышения эффективности внешних инвестиций.<br><br>

В Республике Беларусь и в странах СНГ нет специальности по подготовке специалистов - разработчиков информационных систем и технологий для бизнес-менеджмента, 
которые обладали бы признаками универсальности и позволили бы комплексно и оптимально решать задачи бизнеса в различных сферах хозяйственной, культурной и общественной жизни. 
Наличие таких специалистов способствует более эффективной работе субъектов бизнеса и развитию экономики страны.<br><br>

Делегация БГУИР в составе ректора университета Михаила Павловича Батуры и заведующего кафедрой проектирования информационно-компьютерных систем Игоря Николаевича Цырельчука 
с 28 октября по 1 ноября находилась с рабочим визитом в представительстве Института компьютерных систем (Computer System Institute) в городе Бостон (штат Массачусетс, США). 
По результатам работы 31 октября ректором БГУИР и президентом CSI был подписан договор об открытии на базе представительства CSI в г.Бостон филиала кафедры проектирования 
информационно-компьютерных систем БГУИР. 1 ноября 2013 года на совещании представителей БГУИР и CSI было принято решение реализовать идею открытия новой специальности в БГУИР 
&lt;Информационные системы и технологии (в бизнес-менеджменте)&gt; и начать обучение по дисциплинам этой специальности с 2014 года.<br><br>

Специальность "Информационные системы и технологии (в бизнес-менеджменте)" является новой и актуальной не только в Республике Беларусь, но и во всем мире. 
Набор на нее открыт с 2014 года. БГУИР единственный вуз в Беларуси, который готовит специалистов по данному направлению.<br><br>

Большой интерес к подготовке специалистов, имеющих квалификацию "Программист. Бизнес-аналитик" проявили ведущие компании и университеты США.
При подготовке студентов этой специальности будут использованы возможности Центра видеоконференцсвязи университета для обучения новейшим IT-технологиям ведущими 
специалистами университетов США, Европейских стран и БГУИР. Занятия будут проводится на базе Международного учебно-научного центра <android software="" center="">, 
созданного на нашей кафедре совместно с компанией FORTE Knowledge Иллинойской технологической ассоциации (ITA) с привлечением IT - специалистов из США. Студенты 
могут пользоваться техникой и потенциалом совместной учебно-научной лаборатории "Встраиваемые мобильные системы", созданной на кафедре ПИКС совместно с 
инновационной компанией <axonim devices=""> и партнерами<analog devices=""><texas instruments=""><st microelectronics=""><b>.</b></st></texas></analog></axonim></android></p>
<p style="text-align: left; color: #FF5F28;"><b>Чему можно научиться?</b></p>
<p style="text-align: left;">Студенты специальности ИПОИТ проходят подготовку по комплексу спецдисциплин (например): <b></b></p>
<ul>
<li>Основы алгоритмизации и программирования</li>
<li>Начертательная геометрия и инженерная графика</li>
<li>Анатомия и физиология центральной нервной системы</li>
<li>Физиология высшей нервной деятельности и сенсорных систем</li>
<li> Операционные системы и управление базами данных</li>
<li>Метрология, стандартизация и сертификация в информатике и радиоэлектронике</li>
<li>Функциональная электроника и микросистемная техника </li>
<li>Основы дискретной математики </li>
<li>Психология восприятия и переработки информации </li>
<li>Эргономическое обеспечение информационных систем, технологий </li>
<li>Технология проектирования интеллектуальных систем </li>
</ul>
<p style="text-align: left; color: #FF5F28;"><b>Это позволит:</b></p>
<ul>
<li>проводить бизнес-анализ и системный анализ, разрабатывать и обосновывать проектные решения</li>
<li>моделировать, проектировать, разрабатывать и применять программные средства поддержки решений задач в бизнесе и менеджменте</li>
<li>разрабатывать средств анализа и управления бизнесом и менеджментом</li>
<li>применять специализированные методы и информационные системы для обоснования, выбора, и принятия управленческих решений</li>
<li> на научной основе организовать свой труд, применять информационные системы и технологии в профессиональной деятельности</li>
</ul>
<p style="text-align: left; color: #FF5F28;"><b>Что дальше?</b></p>
<p style="text-align: left;">Основными местами распределения выпускников являются компании и организации IT-индустрии. В
ыпускники будут работать над современными и интересными проектами, используя передовые достижения в области информационных технологий.<br><br>

Лучших ожидают стажировки в компаниях и университетах по всему миру.
Помните, что представители IT-бизнеса и IT-менеджмента самые востребованные специалисты во всем мире<b> <span>!</span></b></p>
				</div>`
    }
    document.querySelector('.content').innerHTML = spec.asoi;
    document.querySelectorAll('.menu-main > li > a').forEach(x => x.addEventListener('click', (e) => {
        let id = e.target.id;
        document.querySelector('.content').innerHTML = spec[id];
    }))
</script>