

<h1 class="featurette-heading text-center m-3">Деканат</h1>
<br /><br />

<div class="list-people">
    <div class="container">
        <h2 class="list-people__title"></h2>
        <div class="list-people__item">
            <div class="list-people__info">
                <a target="_self" href="https://www.bsuir.by/ru/fndo/shneiderov-e-n" class="list-people__link">
                    <div class="_name">
                        Евгений Николаевич
                    </div>
                    <div class="_name-first">
                        Шнейдеров
                    </div>
                </a>
                <div class="_text">
                    Декан  <br>Кандидат технических наук
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173937268">+375 17 393-72-68</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:shneiderov@bsuir.by">shneiderov@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28, аудитория 202, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff1.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <a target="_self" href="https://www.bsuir.by/ru/fndo/krivenkov-a-v" class="list-people__link">
                    <div class="_name">
                        Андрей Викторович
                    </div>
                    <div class="_name-first">
                        Кривенков
                    </div>
                </a>
                <div class="_text">
                    Заместитель декана <br>Магистр экономических наук
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173577199">+375 17 357-71-99</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:krivenkov@bsuir.by">krivenkov@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28, аудитория 203, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff2.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Ольга Николаевна
                </div>
                <div class="_name-first">
                    Василенко
                </div>

                <div class="_text">
                    Методист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173577299">+375 17 357-72-99</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:metodist1@bsuir.by">metodist1@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 204, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff3.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Людмила Михайловна
                </div>
                <div class="_name-first">
                    Козлова
                </div>
                <div class="_text">
                    Методист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173181658">+375 17 318-16-58</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:metodist2@bsuir.by">metodist2@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 204, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff4.jpg" alt="image" style="width:245px;height:245px;" />
        </div>


        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Татьяна Николаевна
                </div>
                <div class="_name-first">
                    Янушкова
                </div>
                <div class="_text">
                    Специалист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375172700758">+375 17 270-07-58</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:yantn@bsuir.by">yantn@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 204, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff5.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Екатерина Дмитриевна
                </div>
                <div class="_name-first">
                    Заровская
                </div>
                <div class="_text">
                    Инженер-программист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173232129">+375 17 323-21-29</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:zarovskaya@bsuir.by">zarovskaya@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 207, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff6.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Ирина Владимировна
                </div>
                <div class="_name-first">
                    Симонова
                </div>
                <div class="_text">
                    Инженер-программист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173232129">+375 17 323-21-29</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:simonova@bsuir.by">simonova@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 207, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff7.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Евгения Игоревна
                </div>
                <div class="_name-first">
                    Ширко
                </div>
                <div class="_text">
                    Специалист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173232129">+375 17 323-21-29</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:shirko@bsuir.by">shirko@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 207, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff8.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

        <div class="list-people__item" style="margin-top:100px;">
            <div class="list-people__info">
                <div class="_name">
                    Никита Владимирович
                </div>
                <div class="_name-first">
                    Гришкевич
                </div>
                <div class="_text">
                    Инженер-программист
                </div>
                <div class="list-people__contacts">
                    <div class="list-people__phones">
                        <div class="_phone">
                            <a target="_self" href="tel:+375173943986">+375 17 394-39-86</a>
                        </div>
                    </div>
                    <div class="list-people__emails">
                        <a href="mailto:grishkevich@bsuir.by">grishkevich@bsuir.by</a>
                    </div>
                    <div>
                        г. Минск,ул.Козлова 28,аудитория 209, 8 корпус БГУИР
                    </div>
                </div>
            </div>
            <img src="~/images/staff9.jpg" alt="image" style="width:245px;height:245px;" />
        </div>

    </div>
</div>