@model Diploma.Models.Subject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control" rows="10" cols="45"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actual" class="control-label"></label>
                <textarea asp-for="Actual" class="form-control" rows="20" cols="25"></textarea>
                <span asp-validation-for="Actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Learn" class="control-label"></label>
                <textarea asp-for="Learn" class="form-control" rows="20" cols="25"></textarea>
                <span asp-validation-for="Learn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Next" class="control-label"></label>
                <textarea asp-for="Next" class="form-control" rows="20" cols="25"></textarea>
                <span asp-validation-for="Next" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

